@import url("./normalize.css");
@import "./utils.scss";

:root {
  --bd: solid 1px #2222;
}

html {
  font-size: 12px;
}

body {
  font-family: "Inter", "PingFang TC", "Noto Sans TC", "Microsoft JhengHei UI", "Microsoft JhengHei", sans-serif;
}

.app {
  display: grid;
  grid-template-areas:
    "action text"
    "header header";
  grid-template-columns: minmax(auto, 150px) 1fr;
  grid-template-rows: 1fr auto;
}

.header {
  grid-area: header;
  border-bottom: var(--bd);
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0.25rem 0.5rem;
  color: #ccc;
  background-color: #2a2a2c;
  letter-spacing: 0.1em;
}

.action {
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  border-right: var(--bd);
  border-bottom: var(--bd);

  &-title {
    margin-bottom: 4px;
    padding: 0 16px 4px 16px;
    border-bottom: var(--bd);
    font-size: small;
    color: #666;
  }

  &-hr {
    margin-top: auto;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #2221;
    border: none;
  }
}

#editor {
  width: 100%;
  height: 100%;
  flex: 1;
  border: none;
  border-bottom: var(--bd);
  border-right: var(--bd);
  border-radius: 0;
  resize: none;
  padding: 1rem;
  font-size: small;
  font-family: Consolas, "Courier New", Courier, monospace;
  color: #333;
  white-space: pre;
  overflow: auto;

  &:focus {
    outline: solid 2px rgb(48, 172, 255, 0.5);
  }

  &::selection {
    background-color: rgb(48, 172, 255, 0.2);
  }
}

button {
  --x-btn-bg: #0000;
  --x-btn-bd-color: #0000;
  --x-btn-color: rgb(8, 120, 195);

  &:disabled {
    pointer-events: none;
    cursor: unset;
  }

  &:hover {
    --x-btn-bg: #0001;
    --x-btn-bd-color: #0001;
  }

  &:active {
    --x-btn-bg: #0002;
    --x-btn-bd-color: #0001;
    transition: none;
  }

  // css
  padding: 8px 16px;
  display: inline-flex;
  justify-content: start;
  align-items: center;

  background-color: var(--x-btn-bg);
  color: var(--x-btn-color);

  border: 0 solid;
  border-color: var(--x-btn-bd-color);
  box-shadow: 0 0 0 0 #4d8edc77;

  font-weight: 400;
  letter-spacing: 0.05em;

  white-space: nowrap;
  touch-action: manipulation;
  box-sizing: border-box;
  text-decoration: none;
  cursor: pointer;

  transition: box-shadow 0.15s, background-color 0.15s;

  &:focus {
    outline: none;
  }
  &:focus-visible {
    box-shadow: 0 0 0 3px #7c7c7c77;
    &:active {
      box-shadow: 0 0 0 3px #7c7c7c;
    }
  }
}
